.background-video {
	width: 500px;
	mix-blend-mode: lighten;
}

.body {
	height: 100vh;
	margin-right: auto;
	margin-left: auto;
	background-color: #19191d;
	background-image: url("../images/ajy.png"),
		-webkit-gradient(linear, left top, left bottom, from(#1d5269), to(#1e134d));
	background-image: url("../images/ajy.png"), linear-gradient(180deg, #1d5269, #1e134d);
	background-position: 0px 0px, 0px 0px;
	background-size: cover, auto;
}

.image {
	display: flex;
	flex-direction: column;
	width: 15%;
	margin: -27px auto;
	padding-top: 0px;
	padding-bottom: 0px;
}

.background-video-2 {
	width: 600px;
	height: 600px;
	margin-right: auto;
	margin-left: auto;
	mix-blend-mode: multiply;
}

.button {
	position: absolute;
	left: 0%;
	top: auto;
	right: 0%;
	bottom: 18%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 23%;
	height: 9%;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 0px;
	padding-bottom: 0px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 150px;
	background-color: #ecad38;
	background-image: linear-gradient(138deg, #ffc65d, #ff9500);
	font-family: "Varela Round", sans-serif;
	color: #fff;
	font-size: 4vh;
	font-weight: 700;
	text-align: center;
}
.image-2 {
	display: block;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
}

.image-3 {
	position: relative;
	top: -643px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.div-block {
	margin-right: auto;
	margin-left: auto;
}

.background-video-3 {
	position: relative;
	width: 950px;
	height: 600px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 0px;
}

.image-4 {
	position: relative;
	left: 0%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;
	max-width: none;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 0px;
	border-radius: 0px;
	display: flex;
	flex-direction: column;
}

.background-video-4 {
	position: absolute;
	left: 0%;
	top: 0px;
	right: 0%;
	bottom: 0px;
	display: block;
	overflow: hidden;
	width: 90%;
	height: 95%;
	max-height: 95%;
	min-height: 95%;
	margin-top: 8px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 20px;
	opacity: 1;
	-webkit-filter: saturate(200%);
	filter: saturate(200%);
	mix-blend-mode: normal;
}

.div-block-2 {
	position: relative;
	left: 0%;
	top: 20%;
	right: 0%;
	bottom: auto;
	display: block;
	width: 100.000003088824%;
	height: 400px;
	margin-top: auto;
	margin-bottom: auto;
	padding-top: 0px;
}

.heading {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	background-color: rgba(82, 91, 255, 0);
	font-family: Montserrat, sans-serif;
	color: #eff5ff;
	font-weight: 700;
}

.header {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	background-color: rgba(82, 91, 255, 0);
	font-family: Montserrat, sans-serif;
	color: #eff5ff;
	font-weight: 700;
}

.headings {
	display: flex;
	flex-direction: column;
	background-color: rgba(82, 91, 255, 0);
	font-family: Montserrat, sans-serif;
	color: #eff5ff;
}

.title {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	background-color: rgba(82, 91, 255, 0);
	font-family: Montserrat, sans-serif;
	color: #eff5ff;
	font-weight: 700;
}

.div-block-3 {
	position: absolute;
	left: 0%;
	top: 50%;
	right: 0%;
	bottom: 60%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 85%;
	height: 200px;
	margin: auto;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.div-block-4 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.div-block-5 {
	position: relative;
	width: 40%;
	height: 50%;
	max-height: none;
	margin-right: auto;
	margin-left: auto;
}

.div-block-6 {
	position: absolute;
	left: 0%;
	top: auto;
	right: 0%;
	bottom: auto;
	width: 35%;
	height: 40%;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
}

.image-5 {
	position: absolute;
	left: 0%;
	top: auto;
	right: 0%;
	bottom: 5%;
	display: inline-block;
	width: 330px;
	max-width: none;
	margin-right: auto;
	margin-left: auto;
}

@media screen and (max-width: 991px) {
	.image {
		width: 200px;
	}
	.button {
		top: auto;
		bottom: auto;
		width: 400px;
		height: 70px;
		margin-top: 360px;
		padding-top: 0px;
		font-size: 32px;
		display: flex;
		flex-direction: column;
	}
	.image-4 {
		position: absolute;
		left: 0%;
		top: 0%;
		right: 0%;
		bottom: 0%;
		width: 100%;
		height: 100%;
		margin-top: 0px;
	}
	.background-video-4 {
		position: absolute;
		left: 0%;
		top: 0%;
		right: 0%;
		bottom: 0%;
		width: 95%;
		height: 95%;
		max-height: 95%;
		min-height: 95%;
		margin-top: 11px;
	}
	.heading {
		margin-top: 125px;
		margin-bottom: 0px;
		font-size: 26px;
		font-weight: 600;
		margin-left: 125px;
	}
	.header {
		margin-top: 25px;
		margin-bottom: 0px;
		font-size: 26px;
		font-weight: 600;
		margin-left: 130px;
	}
	.headings {
		margin-top: 50px;
		margin-left: 110px;
		margin-bottom: 0px;
		font-size: 26px;
		font-weight: 600;
		position: absolute;
	}
	.title {
		margin-top: 171px;
		margin-bottom: 0px;
		font-size: 26px;
		font-weight: 600;
		margin-right: 115px;
	}
	.div-block-3 {
		position: relative;
		top: 338px;
		bottom: auto;
		width: 90%;
		margin-top: 0px;
	}
	.div-block-6 {
		width: 700px;
		height: 350px;
		margin-top: 20px;
	}
}

@media screen and (max-width: 912px) {
	.image {
		width: 40%;
		height: 20%;
	}
	.headings {
		font-size: 30px;
    padding: 0;
    margin: 0;
		position: absolute;
    top: 120px;
    right: 70px;
	}
	.heading {
		font-size: 30px;
		padding: 0;
    margin: 0;
    position: absolute;
    top: 120px;
    left: 70px;
	}
	.header {
		font-size: 30px;
		margin: 0;
    padding: 0;
    position: absolute;
    top: 180px;
    left: 70px;
	}
	.title {
		font-size: 30px;
		margin: 0;
    padding: 0;
		position: absolute;
		top: 180px;
		right: 80px;
	}
	.button {
		top: 560px;
		width: 500px;
		height: 100px;
	}
	/* .image-5 {
		width: 100%;
	} */
}

@media screen and (max-width: 820px) {
	.image {
		height: 16%;
	}
	.heading {
		left: 40px;
		top: 120px;
	}
	.headings {
		right: 35px;
		top: 120px;
	}
	.header {
		left: 40px;
		top: 170px;
	}
	.title {
		right: 45px;
		top: 170px;
	}
	.button {
		top: 450px;
		width: 500px;
		height: 90px;
	}
	
}

@media screen and (max-width: 768px) {
	.headings {
		top: 80px;
	}
	.heading {
		top: 80px;
	}
	.header {
		top: 140px;
	}
	.title {
		top: 140px;
	}
	.button {
		top: 350px;
	}
}

@media screen and (max-width: 767px) {
	.image {
		width: 200px;
		margin-bottom: -32px;
	}
	.heading {
		font-size: 23px;
		margin-left: 30px;
	}
	.header {
		font-size: 23px;
		margin-left: 30px;
	}
	.headings {
		font-size: 23px;
		top: 120px;
		left: 305px;
	}
	.title {
		font-size: 23px;
		margin-right: 40px;
		margin-top: 126px;
	}
	.image-4 {
		width: 100%;
		max-width: none;
		margin-top: 0px;
		margin-right: auto;
		margin-left: auto;
	}
	.background-video-4 {
		position: absolute;
		width: 94%;
		height: 94%;
		margin-top: 8px;
	}
}

@media screen and (max-width: 575px) {
	.image {
		width: 35%;
		margin-top: -11px;
		margin-bottom: -11px;
	}
	.button {
		position: absolute;
		top: 200px;
		width: 175px;
		height: 40px;
		font-size: 18px;
	}
	.image-4 {
		display: none;
	}
	.background-video-4 {
		width: 98%;
		height: 100%;
		max-height: 100%;
		min-height: 100%;
		margin-top: 0px;
	}
	.headings {
		font-size: 12px;
		padding-top: 235px;
		left: 192px;
	}
	.heading {
		font-size: 12px;
		margin-left: 125px;
		margin-top: 0px;
	}
	.header {
		position: absolute;
		left: 103px;
		margin-top: 35px;
		font-size: 12px;
	}
	.title {
		font-size: 12px;
		margin-top: 15px;
		margin-left: 298px;
	}
	.div-block-3 {
		position: static;
		top: 35%;
		display: block;
		width: 98%;
		height: auto;
		margin-top: 40px;
	}
	.div-block-4 {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.div-block-6 {
		position: relative;
		width: 330px;
		height: 200px;
		margin-top: 25px;
	}
}

@media screen and (max-width: 540px) {
	.headings {
		font-size: 18px;
		left: 295px;
    padding: 0;
    margin: 0;
    top: 355px;
	}
	.heading {
		font-size: 18px;
		margin: 0;
    left: 50px;
		top: 355px;
    position: absolute
	}
	.header {
		font-size: 18px;
		left: 50px;
    margin: 0;
    top: 400px;
	}
	.title {
		font-size: 18px;
		margin: 0;
    padding: 0;
    left: 300px;
    position: absolute;
    top: 400px;
	}
	.button {
		width: 270px;
		height: 60px;
		top: 120px;

	}
}

@media screen and (max-width: 414px) {
	.image {
		height: 19%;
		width: 45%;
	}
	.headings {
		font-size: 15px;
		left: 208px;
    padding: 0;
    margin: 0;
    top: 445px;
	}
	.heading {
		font-size: 15px;
		margin: 0;
    left: 50px;
		top: 445px;
    position: absolute
	}
	.header {
		font-size: 15px;
		left: 50px;
    margin: 0;
    top: 485px;
	}
	.title {
		font-size: 15px;
		margin: 0;
    padding: 0;
    left: 212px;
    position: absolute;
    top: 485px;
	}
	.button {
		width: 310px;
		height: 60px;
		top: 260px;
	}
	/* .image-5 {
		width: 100%;
	} */
}

@media screen and (max-width: 412px) {
	.title {
		left: 210px;
	}
}

@media screen and (max-width: 393px) {
	
	.image {
		height: 15%;
	}
	.headings {
		font-size: 14px;
		left: 197px;
    top: 400px;
	}
	.heading {
		font-size: 14px;
    left: 50px;
		top: 400px;
	}
	.header {
		font-size: 14px;
		left: 50px;
    top: 445px;
	}
	.title {
		font-size: 14px;
    left: 202px;
    top: 445px;
	}
	.button {
		width: 300px;
		height: 60px;
		top: 220px;
	}
}

@media screen and (max-width: 390px) {
	.title {
		left: 198px;
	}
}

@media screen and (max-width: 375px) {
	.image {
		height: 12%;
	}
	.headings {
		font-size: 13px;
		left: 193px;
    padding: 0;
    margin: 0;
    top: 335px;
	}
	.heading {
		font-size: 13px;
		margin: 0;
    left: 35px;
    top: 335px;
	}
	.header {
		font-size: 13px;
		left: 35px;
    margin: 0;
    top: 365px;
	}
	.title {
		font-size: 13px;
		margin: 0;
    padding: 0;
    left: 194px;
    top: 365px;
	}
	.button {
		margin: 0 auto;
		padding: 0;
		position: absolute;
		top: 450px;
		width: 270px;
		height: 55px;
		
	}
}

@media screen and (max-width: 360px) {
	.image {
		height: 14%;
	}
	.headings {
		font-size: 13px;
		left: 178px;
    top: 360px;
	}
	.heading {
		font-size: 13px;
    left: 35px;
		top: 360px;
	}
	.header {
		font-size: 13px;
		left: 35px;
    top: 400px;
	}
	.title {
		font-size: 13px;
    left: 180px;
    top: 400px;
	}
	.button {
		width: 300px;
		height: 60px;
		top: 500px;
	}
}
